<form action="/a-post" method="post">
  <div>
    <label for="what-to-say">What to Say</label>
    <input type="text" id="what-to-say" name="what-to-say" />
  </div>

  <div>
    <label for="who-says">Who Is Saying It?</label>
    <input type="text" id="who-says" name="who-says" />
  </div>

  <input type="submit" />
</form>
